body {
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.tasks {
  border: 2px solid #D0D0D0;
  border-radius: 5px;
  margin: 10px auto;
}

.tasks__header {
  background-image: linear-gradient(#FBFBFB, #DFDFDF);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tasks__header h1 {
  color: #5F6B78;
  font-size: 24px;
  font-weight: 700;
  padding: 15px;
}

.tasks__task {
  align-items: center;
  display: flex;
  padding: 20px 20px 20px 30px;
}

.task__description {
  margin-left: 20px;
}