body {
  font-size: 20px;
}

.wrapper1 {
  /* includes: header, nav, content, links */
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 75px; /* must be equal to footer.height */
  position: relative; /* to work with "position: absolute" of the ".nav::before", ".content::before", ".links::before" */
}

/* ======= header ======= */
.header {
  background-color: #336697;
  color: #fffffe;
  height: 75px;
  padding: 25px;
  text-align: center;
}

.header__title {
  font-size: 25px;
}

/* ======= nav, content, links ======= */
.nav {
  background-color: transparent;
  float: left;
  padding: 15px;
  width: 200px;
}

.nav::before {
  background-color: #fe9800;
  content: "";
  height: 100%; /* 100% of the ".wrapper1" */
  margin: -15px; /* must be equal to negative nav.padding */
  position: absolute;
  width: inherit; /* inherits width from ".nav" (not wrapper1) */
  z-index: -1;
}

.nav__title {
  font-size: 20px;
}

.content {
  background-color: transparent;
  float: left;
  padding: 15px;
  width: calc(100% - 400px); /* 400px = fixed values of nav.width: 200px + links.width: 200px */
}

.content::before {
  background-color: #fffffe;
  content: "";
  height: 100%; /* 100% of the ".wrapper1" */
  margin: -15px; /* must be equal to negative content.padding */
  position: absolute;
  width: inherit; /* inherits width from ".content" (not wrapper1) */
  z-index: -1;
}

.content__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.links {
  background-color: transparent;
  float: right;
  padding: 15px;
  width: 200px;
}

.links::before {
  background-color: #983265;
  content: "";
  height: 100%; /* 100% of the ".wrapper1" */
  margin: -15px; /* must be equal to negative links.padding */
  position: absolute;
  width: inherit; /* inherits width from ".links" (not wrapper1) */
  z-index: -1;
}

.links__title {
  font-size: 20px;
}

/* ======= footer ======= */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  background-color: #690;
  color: #fffffe;
  height: 75px;
  margin-top: -75px; /* must be equal to negative height */
  padding: 25px;
  text-align: center;
}

.footer__title {
  font-size: 25px;
}

/* -------------------------
----------  media  --------- 
---------------------------- */
@media (max-width: 800px) {
  .nav,
  .content,
  .links {
    float: none;
    height: auto;
    width: 100%;
  }

  .links {
    height: 50px;
    margin-top: -50px; /* must be equal to negative height */
  }

  .wrapper2 {
    min-height: calc(100vh - 75px); /* must be equal to "calc(100vh - footer.height)" */
    padding-bottom: 50px; /* must be equal to links.height (in the same @media context) */
  }
}
