@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.center-content { 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------
  Cards layout 
----------------------------------- */
.cards__card {
  border: 1px yellow solid;
  float: left;
  height: 210px;
  margin: 0 0 25px 20px;
  position: relative;
  width: calc((100% - 60px) / 3);
  padding: 8px 16px;

  display: flex;
  flex-flow: row wrap;
}

.cards__card:nth-child(3n + 6) {
  /* Left margin 0 for 6th, 9th, ... elements */
  margin-left: 0px;
}

.card_top-deal {
  border-color: red;
  height: 445px;
  margin-left: 0px;
}


/*---------------------------------
  Normal card content 
----------------------------------- */
.card__discount {
  position: absolute;
  background-color: #e6e6e6; /* placeholder */
  margin-left: -8px;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  padding: 9px; /* to keep the content within the circle */

  /* centering the content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__description {
  order: 1;
  width: 55%;
  margin-top: 73px; /* should be = card__discount.height + margin top value for this element */
  padding-right: 2%;
}

.card__img {
  order: 2;
  width: 45%;
  height: 121px; /* should to be = .card__discount.height + .card__description.margin-top + .card__description.height */
}

.card__img > img {
  height: 100%; 
  width: 100%;
  object-fit: contain;
}

.card__selling-info {
  border-bottom: 2px #e6e6e6 dashed;
  padding-bottom: 5px;
  margin-top: 15px;
  order: 3;
  width: 100%;
}

.card__price {
  float: left;
}

.card__old-price {
  float: left;
  margin-left: 20px;
}

.card__seller {
  float: right;
}

.card__additional-info {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
  order: 4;
  width: 100%;
}

.additional-info__shipping {
  flex: 0 1 40%;
}

.additional-info__status {
  flex: 0 1 32%;
}

.additional-info__timer {
  flex: 0 1 28%;
}


/*---------------------------------
  Top-deal card content
----------------------------------- */
.card_top-deal > .card__img {
  height: 250px;
  margin-top: 17px;
  
  width: 100%;
  order: 1;
}

.card_top-deal > .card__selling-info {
  order: 2;
}

.card_top-deal > .card__description {
  border-bottom: 2px #e6e6e6 dashed;
  width: 100%;
  margin-top: 15px;
  padding-right: 47%; /* should be = 100% - card__description.width % */
  order: 3;
}

.card_top-deal > .card__additional-info {
  margin-top: 10px;
}
